# Django
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# MySQL
DB_NAME=admiguide_db
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Angular
CORS_ALLOWED_ORIGINS=http://localhost:4200

# FastAPI
AI_SERVICE_URL=http://127.0.0.1:8001